<% if @stock %>
  <div class="container">
    <h5 class="text-center mtb-4 ptb-4">Stock Data</h5>
    <div class="card mt-4 mb-4 p-4" style="width: 100%;">
      <div class="card-body ptb-4" style="display: flex; justify-content: space-between; background-color: #f8f9fa;">
        <p class="card-text">
          <span style="font-weight: bold;">Symbol:</span> <%= @stock.ticker %>
        </p>
        <p class="card-text">
          <span style="font-weight: bold;">Name:</span> <%= @stock.name %>
        </p>
        <p class="card-text">
          <span style="font-weight: bold;">Last Price:</span> <%= @stock.last_price %>
        </p>
        <% if current_user.can_track_stock?(@stock.ticker) %>
          <%= link_to 'Add to Portfolio', user_stocks_path(user: current_user, ticker: @stock.ticker), class: "btn btn-success", method: :post,data: { turbo_method: :post } %>
        <% else %>
          <span class="card">
            You are already tracking
            <% if !current_user.under_stock_limit? %>
              10 stocks
            <% elsif current_user.stock_already_tracked?(@stock.ticker) %>
              this stock
            <% end %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
